.App {
  text-align: center;
  background-color: #EBEBEB;
}
@font-face {
  font-family: "TodaySHOP-Medium";
  src: local("TodaySHOP-Medium"),
   url("./fonts/TodaySHOP-Medium.otf") format("opentype");
  /* font-weight: bold; */
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  background-color: #EBEBEB;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.gray-bg{
  background-color: #EBEBEB;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-nav{
  background-color: #5C0C89;
}
.product-image{
  width: 20vh;
  height: 20vh;
  object-fit: contain;
} 
.price{ 
  /* bold */
  font-weight: bold;
  color: #e10613;
  font-size: 3em;
  font-family: TodaySHOP-Medium;
}
.purple-text{
  color:#5E2682;
  font-family: TodaySHOP-Medium;
}
.title{
  color: #5E2682;
  font-size: 79,31pt !important;
  font-family: TodaySHOP-Medium;
  padding-top: 15px;
  padding-bottom: 15px;
}
.generico{
  color: #1D7086;
  font-family: TodaySHOP-Medium;
  padding-top: 15px;
  font-size:  2.5em;
}
.similar{
  color: #F19000;
  font-family: TodaySHOP-Medium;
  padding-top: 15px;
  font-size:  2.5em;
}
.marca{
  color: #DC0D80;
  font-family: TodaySHOP-Medium;
  padding-top: 15px;
  font-size:  2.5em;
}

.left-text{
  text-align: left;
}
.right-text{
  text-align: right;
}
.align-center {
  display: flex;
  align-items: center;
}
.text-center {
  text-align: center;
}
.footer-image{
  width: 25%;
  height: 140%;
  object-fit: contain;
  float: right;
  padding-top: 30px;
}
.footer{
  color: #EBEBEB;
}

ol li {
  color:#5E2682;
  font-weight: bold;
}

.gray-text{
  color: #868e96;
}
.disabled-price{
  color: #868e96;
  text-decoration: line-through;
}
.img-holder{
  width: 80%;
  height: 40%;
  object-fit: cover;
}
.dark-text{
  color: #363636;
  font-weight: bold;
}
.custom-card{
  border-radius: 25px;
  border: 2px solid #898989;
}
.outter-borders{
  
  border-radius: 25px;
  /* border: 2px solid #5C0C89; */
  height: 100%;
  max-height: 90%;
  background-color: #FFFFFF;
  /* width: 90%; */
}
.inner-borders{
  border-radius: 10px;
  /* solo el borde de la derecha */
  /* border-right: 2px solid #5C0C89;
  border-left: 2px solid #5C0C89; */
  border-bottom: 2px solid #5E2682;
}
/* .title{
  height: 2em;
} */
::marker {
  font-size: 2em;
  
}


