.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-nav{
  background-color: #5C0C89;
}
.product-image{
  width: 25vh;
  height: 25vh;
  object-fit: contain;
} 
.price{ 
  /* bold */
  font-weight: bold;
  color: red;
  font-size: 20px;
}
.left-text{
  text-align: left;
}
.right-text{
  text-align: right;
}
.align-center {
  display: flex;
  align-items: center;
}
.text-center {
  text-align: center;
}
.purple-text{
  color:#5C0C89;
}
ol li {
  color:#5C0C89;
  font-weight: bold;
}

.gray-text{
  color: #868e96;
}
.disabled-price{
  color: #868e96;
  text-decoration: line-through;
}
.img-holder{
  width: 100%;

}
.dark-text{
  color: #363636;
  font-weight: bold;
}
.custom-card{
  border-radius: 25px;
  border: 2px solid #898989;
}
.outter-borders{
  border-radius: 15px;
  border: 2px solid #5C0C89;
  height: 100%;
  /* width: 90%; */
}
.inner-borders{
  border-radius: 10px;
  /* solo el borde de la derecha */
  /* border-right: 2px solid #5C0C89;
  border-left: 2px solid #5C0C89; */
  border-bottom: 2px solid #5C0C89;
}
.title{
  height: 2em;
}
::marker {
  font-size: 2em;
  
}

